<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Computer Science</h5>
          <p class="card-text">Department of Computer Science</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Civil Engineering</h5>
          <p class="card-text">Department of Civil Engineering</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mechanical Engineering</h5>
          <p class="card-text">Department of Mechanical Engineering</p>
        </div>
      </div>
    </div>
